body {background: #b9b9b9; font-family: 'ubunturegular'; padding: 55px 0px 0px 0px;}

h1, h2, h3, h4, h5, h6, ol, ul, li, form, label, strong {margin: 0px; padding: 0px; list-style-type: none; font-weight: normal;}
a, input, button, *:focus {outline: none;}

a:hover {text-decoration: none;}

#mainContainer {margin: 0 auto; background: #fff;}

#mainContainer, #header, .mainMenu, .homeSlider, .homeSlider .searchArea .searchNav,
.homeSlider .searchArea .formHolder, .homeSlider .searchArea .searchForm,
.featureSlider, .containerBox, .stepsRow, .youTubePlayer, .careerCol, .youtubeThumb,
.managementArea, .popularCourses, .quickContact, .contactForm, .footerSection, .footerTop, .footerBottom,
#loginModal .loginForm, #loginModal .loginForm .inputRow, #registerModal .regForm, #registerModal .regForm .inputRow,
.mainMenu .subMenuArea .subMenuLeft ol li, .collegeHead, .informationList, .collegeFilter, .collegeFilterBox.toggleFilter .toggleItems,
 .collegeFilterBox,
.filterItems, .locationSearch, .collegeResultBox, .collegeResultBox .collegeTop,
.collegeResultBox .collegeMiddle, .collegeResultBox .collegeBottom, .pagination,
.collegeHead .collegeQuick, .courceHead, .addmisionProcedure, .collegeReviewTop, .collegeReviewBox,
.importantDates, .newsBox, .couponTabs, .couponHolder, .iqTest ol li, .iqTest ol li .iqAnsRow,
.teamArea, .teamPopup, .teamRow, .staticPage, .profileHead, .profileSection, .profileBox,
.profileBox ul, .profileBox .detailForm, .profileBox .settingForm {width: 100%; float: left; clear: both;}

header#header {background:#15202f; position:fixed; left: 0px; top:0px; z-index:20; height: 55px;}
header#header .logo {padding: 10px 0px 0px 0px; width: 100%;}
header#header .logo img {max-width: 100%; height: auto;}


.mainMenu {text-align: center; position: relative;}
.mainMenu ul > li {display: inline-block; cursor: pointer; vertical-align: middle; font-size: 13px; padding: 19px 0px; margin: 0px 10px;}
.mainMenu ul > li:first-child {margin-left:0px;}
.mainMenu ul > li:last-child {margin-right:0px;}
.mainMenu ul li a {color: #fff; text-decoration: none;}

.mainMenu .subMenuArea {display:none; background:#f9f9f9; position: absolute; text-align: left; width: 100%; left: 0px; top:54px;}
.mainMenu ul > li:hover .subMenuArea {display:table;}
.mainMenu .subMenuArea .subMenuRow {display: table-row;}
.mainMenu .subMenuArea .subMenuRow .subMenuCol {display: table-cell; vertical-align: top; cursor:text;}
.mainMenu .subMenuArea .subMenuLeft {width: 30%; background: #fff;}
.mainMenu .subMenuArea .subMenuRight {width:70%; padding:5px 0px;}


.mainMenu .subMenuArea .subMenuLeft ol li {display: block; color: #828282; transition: all ease-in-out 0.4s; position: relative; cursor: pointer; padding:10px 20px; border-bottom: 1px solid #eae9e9; border-right: 1px solid #eae9e9; font-size: 12px;}
.mainMenu .subMenuArea .subMenuLeft ol li.active {background:#f9f9f9; border-right: 1px solid #f9f9f9; color: #000;}

.mainMenu .subMenuArea .subMenuLeft ol li:after {font-family: "mentorcell"; content: "\66"; position: absolute; z-index: 1; right: 15px; top: 18px; font-size: 8px; line-height: 1px;}
.mainMenu .subMenuArea .subMenuLeft ol li.active:after {right:10px;}

.mainMenu .subMenuArea .subMenuHold {display: none;}
.mainMenu .subMenuArea .subMenuHold.active {display:block;}
.mainMenu .subMenuArea .subMenubox {width: 33.33%; float: left; padding: 15px;}
.mainMenu .subMenuArea .subMenubox h3 {font-size:12px; font-weight: bold; color: #333; display: block; margin:0px 0px 10px 0px;}
.mainMenu .subMenuArea .subMenubox .sublinks {display: block; margin: 0px 0px 4px 0px; font-size: 11px;}
.mainMenu .subMenuArea .subMenubox .sublinks a {color:#828282;}
.mainMenu .subMenuArea .subMenubox .sublinks a:hover {color:#000;}


.userNav {float: right; padding:13px 0px 0px 0px;}
.userNav ul li {display: block; float: left; cursor: pointer; width: 60px; text-align: center; background: #ff9978; color: #fff; font-size: 12px; padding: 5px;}
.userNav ul li.userReg {background: #f77a52;}

.homeSlider {position: relative;}
.homeSlider ul li {width: 100%;}
.homeSlider ul li img {width: 100%; height: auto;}
.homeSlider .bx-wrapper .bx-pager {bottom: 30px; left: 60px; width: auto;}
.homeSlider .bx-wrapper .bx-pager.bx-default-pager a {background: none; border: 1px solid #fff; width: 15px; height: 15px; border-radius: 20px;}
.homeSlider .bx-wrapper .bx-pager.bx-default-pager a:hover, 
.homeSlider .bx-wrapper .bx-pager.bx-default-pager a.active {background: #fff;}

.homeSlider .mobileAppIcons  {position: absolute; right: 60px; bottom: 30px; z-index: 10;}
.homeSlider .mobileAppIcons a {display: block; float: left; margin: 0px 0px 0px 15px;}
.homeSlider .mobileAppIcons a img {border-radius: 5px;}

.homeSlider .searchArea {position: absolute; z-index: 12; width: 65%; top: 50%; left: 50%; transform: translate(-50%, -80px); transition: all ease-in-out 1s;}
.homeSlider .searchArea h3 {font-size: 22px; color: #fff; margin: 0px 0px 10px 0px;}
.homeSlider .searchArea .searchNav ul li {float: left; width: 118px; transition: all ease-in-out 0.3s; text-align: center; cursor: pointer; background: #f77a52; border-right: 2px solid #fff; padding:15px 5px; color: #fff;}
.homeSlider .searchArea .searchNav ul li.active {background: #15202f;}
.homeSlider .searchArea .searchNav ul li:last-child {border:none;}

.homeSlider .searchArea .formHolder {width: 100%;}
.homeSlider .searchArea .searchForm {background: #fff; position: relative; z-index: 1; height: 0px; opacity: 0; transition: all ease-in-out 0.3s;}
.homeSlider .searchArea .searchForm.active {z-index: 2; opacity:1; height:48px; }
.homeSlider .searchArea .formHolder input,
.homeSlider .searchArea .formHolder select {width: 100%; border:none; background: none; height: 48px;}
.homeSlider .searchArea .formHolder .go {background: #15202f; position: relative; cursor: pointer; width: 48px; height: 48px; border:none; color: #fff; overflow: hidden; text-align: center; font-size: 20px;}


.homeSlider .searchArea .formHolder .formcol50 {width:calc(50% - 24px); position: relative; float: left; border-right: 1px solid rgba(0,0,0,0.20); padding: 0px 10px;}
.homeSlider .searchArea .formHolder .formcol100 {width: calc(100% - 48px); position: relative; float: left; border-right: 1px solid rgba(0,0,0,0.20); padding: 0px 10px;}

.homeSlider .searchArea .formHolder .autoComplete {position: absolute; z-index: 5; display: none; max-height: 200px; overflow: auto; border-top: 1px solid rgba(0,0,0,0.20); width: 100%; left: 0px; top: 48px; padding: 10px; background: #fff;}
.homeSlider .searchArea .formHolder input:focus + .autoComplete {display: block;}
.homeSlider .searchArea .formHolder .autoComplete h4 {color:rgba(0,0,0,0.87); font-size: 16px; display: block; padding:6px 4px; background: rgba(0,0,0,0.12);}
.homeSlider .searchArea .formHolder .autoComplete ul li {display: block; cursor: pointer; font-size: 13px; color: rgba(0,0,0,0.54); padding: 6px 4px;}
.homeSlider .searchArea .formHolder .autoComplete ul li:hover {background: rgba(0,0,0,0.05);}

.featureSlider {background:#e4e9f3; padding:0px; position: relative; z-index: 2;}
.featureSlider .row {position: relative; padding: 15px 50px 15px 40px;}
.featureSlider .featureHeading {position: absolute; top:0px; left: 0px; width: 40px; height: 100%; z-index: 10; background: #fff; font-size: 15px; color: rgba(0,0,0,0.87);}
.featureSlider .featureHeading:before {content: 'Featured'; display: block; transform: rotate(-90deg) translate(-45px, 0px);}
.featureSlider .featureLogo {width: 60px; display: inline-block; margin: 0px 10px 0px 0px; vertical-align: middle;}
.featureSlider .featureLogo img {max-width: 100%; height: auto;}
.featureSlider .featureText {width: calc(100% - 75px); display: inline-block; vertical-align: middle;}
.featureSlider .featureText h3 {font-size: 21px; margin: 0px 0px 3px 0px; color: rgba(0,0,0,0.87);}
.featureSlider .featureText p {margin: 0px; line-height: normal; color:rgba(0,0,0,0.54); font-size: 15px;}

.featureSlider .bx-wrapper .bx-controls-direction a {width: 50px; height: 90px; right:-50px; margin: 0px; top:-15px; color: rgba(0,0,0,0.54); background: #d7dce8;}
.featureSlider .bx-wrapper .bx-prev {display: none!important;}
.featureSlider .bx-wrapper .bx-next:after {content: '>'; font-size: 20px; text-indent: 1px; right: 0px; top:0px; line-height:55px; text-align: center; display: block;}
.featureSlider .bx-wrapper .bx-next:hover {color: rgba(0,0,0,0.54); text-decoration: none;}

.containerBox {padding: 20px 70px;}

.sectionHeading {font-size:24px; display: block; position: relative; text-align: center; margin: 0px 0px 40px 0px;}
.sectionHeading:before {content: ''; position: absolute; bottom:-10px; left: 50%; transform: translateX(-50%); width: 115px; height:3px; background: #80868e;}

.sectionHeading.whiteColor {color:#fff;}
.sectionHeading.whiteColor:before {background: #fff;}

.bgWhite {background: #fff; width: 100%; float: left; clear: both;}
.bgGrey {background:#f3f3f6; width: 100%; float: left; clear: both;}
.bgCourses {background: #ffa081;}
.bgAbroad {background: url('../images/imgbg1.jpg') no-repeat; background-size: cover;}

.bgCollege {background: url('../images/college-bg.jpg') no-repeat; background-size: cover;}


.stepsRow {padding: 8px 0px; text-align: center;}
.stepsRow.leftGap {padding-left: 80px;}
.stepsRow .stepIcon {width:100%; display:block; padding: 0px 0px 20px 0px;}
.stepsRow .stepIcon img {max-width: 100%;}
.stepsRow .stepText {display:block; width:100%;} 
.stepsRow .stepText h3 {font-size: 22px; display: inline-block; position: relative; z-index: 4; margin: 0px 0px 15px 0px; font-weight: bold; color:#303a47; padding: 0px 0px 0px 4px;}
.stepsRow .stepText h3 span {position: absolute; left:-10px; z-index: -1; color: rgba(0,0,0,0.12); font-size:50px; transform: translateY(-28%);}
.stepsRow .stepText p {margin: 0px 0px 10px 0px; display: block; font-size:16px; color:#303a47;}
.stepsRow .stepText a.stepButton {display: inline-block; font-size: 14px; transition: all ease-in-out 0.3s; color: #fff; border-radius: 5px; background: #f66132; padding: 6px 15px;}
.stepsRow .stepText a.stepButton:hover {background:#303a47;}

.youTubePlayer iframe,
.youTubePlayer img {width:100%; height: auto;} 

.careerCol {padding: 0px 0px 30px 0px;}
.careerCol p {font-size: 14px; margin: 0px 0px 15px 0px; color: rgba(0,0,0,0.87);}
.careerCol .counsButton {background:#f77a52; transition: all ease-in-out 0.3s; color: #fff; padding:10px 40px; float: left; clear: both; display: block; border-radius: 6px; text-decoration: none;} 
.careerCol .counsButton:hover {background: rgba(0,0,0,0.87);}

.youtubeThumb {padding: 30px 0px 0px 0px; position: relative; text-align: center; font-size: 0px;}
.youtubeThumb .viewAll {position: absolute; z-index: 6; top: -30px; right: 15px; font-size: 15px; color:#003e8c;}
.youtubeThumb .viewAll:hover {color:#f77a52;}
.youtubeThumb ul li {display: inline-block; width:16.52%; padding: 0px 10px; text-align: center; vertical-align: top;}
.youtubeThumb ul li img {max-width: 100%; height: auto;}


.managementArea {font-size: 0px; text-align: center;}
.managementArea ul li {display: inline-block; transition: all ease-in-out 0.4s; border: 1px solid rgba(0,0,0,0.15); border-radius: 10px; padding: 10px; text-align:  center; width:calc(20% - 20px); margin: 10px;}
.managementArea ul li:hover {background: #ffa081;}
.managementArea ul li .manageIcon {width: 100%; height: 80px;}
.managementArea ul li .manageIcon img {max-width: 100%; max-height:100%; width: auto; height: auto; border-radius: 5px;}
.managementArea ul li .manageText {width: 100%; text-overflow: ellipsis; white-space: nowrap; font-size: 16px; color: rgba(0,0,0,0.87); padding: 10px 0px 5px 0px; overflow:hidden;}
.managementArea ul li .manageText a {color: rgba(0,0,0,0.87);}
.managementArea ul li:hover .manageText a {color: #fff;}

.popularCourses {text-align: center; font-size: 0px;}
.popularCourses ul li {display: inline-block; margin:8px; border:2px solid #fff; color: #fff; padding: 4px 10px; font-size: 13px; border-radius: 4px;}

.studyAbroad {text-align:center; padding: 0px 100px;}
.studyAbroad p {color: #fff; margin: 0px 0px 20px 0px; font-size: 15px;}

.studyAbroad h3 {font-size: 21px; letter-spacing: 1px; color: #fff; margin: 0px 0px 20px 0px; font-weight: normal;}
.studyAbroad .findHere {background:#f77a52; font-size: 16px; transition: all ease-in-out 0.3s; color: #fff; padding:10px 20px; width: 200px; display:inline-block; border-radius: 6px;}
.studyAbroad .findHere:hover {background: rgba(0,0,0,0.87);}

.studyAbroad ul {display: block; padding: 30px 0px 40px 0px;}
.studyAbroad ul li {display: inline-block; text-align: center; width:150px; margin: 10px; background: #fff; border-radius: 6px; padding:15px 10px;}
.studyAbroad ul li .abroadIcon {text-align: center;}
.studyAbroad ul li .abroadName {width: 100%; text-overflow: ellipsis; white-space: nowrap; font-size: 16px; color: rgba(0,0,0,0.87); padding: 10px 0px 0px 0px; overflow:hidden;}

.quickContact {margin: 0px 0px 20px 0px;}
.quickContact h3 {font-size: 18px; margin: 0px 0px 10px 0px;}
.quickContact p {font-size: 14px; margin: 0px 0px 15px 0px; color: rgba(0,0,0,0.54);}
.quickContact ul li {float: left; width: 100%; clear: both; margin: 0px 0px 25px 0px;}
.quickContact ul li .contactIcon {display: inline-block; vertical-align: middle; width: 50px; height: 50px; border-radius: 100px; border:1px solid rgba(0,0,0,0.20);}
.quickContact ul li .contactText {display: inline-block; vertical-align: middle; padding: 0px 0px 0px 10px;}
.quickContact ul li .contactText h4 {font-size: 16px; margin: 0px 0px 5px 0px;} 
.quickContact ul li .contactText p {margin: 0px;}
.quickContact .quickButton {background:#f77a52; transition: all ease-in-out 0.3s; color: #fff; padding:10px 40px; float: left; clear: both; display: block; border-radius: 6px; text-decoration: none;} 
.quickContact .quickButton:hover {background: rgba(0,0,0,0.87);}

.contactForm ul li {display: block; margin: 0px 0px 12px 0px; position: relative;}
.contactForm ul li i {position: absolute; top: 8px; left: 15px; z-index: 1; font-size: 20px; color: rgba(0,0,0,0.54);}
.contactForm ul li input, .contactForm ul li textarea {width: 100%; transition: all ease-in-out 0.4s; border: 2px solid #b4b4b4; border-radius: 4px; font-size: 14px; height:40px; padding: 0px 0px 0px 54px;}
.contactForm ul li input:focus, .contactForm ul li textarea:focus {border:2px solid #2c76bf;}
.contactForm ul li input:focus + i, .contactForm ul li textarea:focus + i {color: #2c76bf;}
.contactForm ul li textarea {padding: 10px; height:150px;}
.contactForm ul li input.go {background:#f77a52; color: #fff; font-size: 16px; border:none; padding: 0px 20px; width: 150px;}
.contactForm ul li input.go:hover {background: rgba(0,0,0,0.87);}


#loginModal .modal-dialog {max-width: 400px;}
#loginModal .modal-body {padding-top: 0px;}
#loginModal .loginForm {padding:0px 5px;}
#loginModal .loginForm h3 {font-size: 14px; margin: 0px 0px 20px 0px; color: rgba(0,0,0,0.87); display: block; text-align: center;}
#loginModal .loginForm h3 a {color: #5792cc;}
#loginModal .loginForm h3 a:hover {color: rgba(0,0,0,0.87);}
#loginModal .loginForm h4 {font-size: 13px; float: left; width: 100%; clear: both; margin: 0px 0px 20px 0px; color: rgba(0,0,0,0.87); display: block; text-align: center;}
#loginModal .loginForm h5 {font-size: 13px; margin:0px; color: #5792cc; display: block; text-align: center;}
#loginModal .loginForm h5 a {color: #5792cc;}
#loginModal .loginForm h5 a:hover {color: #000;}
#loginModal .loginForm .inputRow {margin: 0px 0px 10px 0px; position: relative;}
#loginModal .loginForm i {position: absolute; z-index: 2; top: 5px; left:18px; font-size: 19px; line-height: 1px; color:#bababa;}
#loginModal .loginForm .inputRow input {width: 100%; font-size: 13px; border:1px solid #c5c5c5; height: 30px; border-radius: 5px; padding: 0px 0px 0px 50px;}
#loginModal .loginForm .inputRow input:focus {border:1px solid #5792cc;}
#loginModal .loginForm .inputRow input:focus + i {color:#5792cc;}
#loginModal .loginForm .inputRow input.go {background: #f77a52; transition: all  ease-in-out 0.3s; margin: 10px 0px 5px 0px; color: #fff; padding: 0px; border:none;}
#loginModal .loginForm .inputRow input.go:hover {background: #000;}


#registerModal .modal-dialog {width:100%; max-width:400px; display: table;}
#registerModal .modal-body {padding-top: 0px;}
#registerModal .regForm {padding:0px 5px;}
#registerModal .regForm h3 {font-size: 14px; margin: 0px 0px 20px 0px; color: rgba(0,0,0,0.87); display: block; text-align: center;}
#registerModal .regForm h3 a {color: #5792cc;}
#registerModal .regForm h3 a:hover {color: rgba(0,0,0,0.87);}
#registerModal .regForm .inputRow {margin: 0px 0px 10px 0px; position: relative;}
#registerModal .regForm i {position: absolute; z-index: 2; top: 5px; left:18px; font-size: 19px; line-height: 1px; color:#bababa;}
#registerModal .regForm .inputRow input, #registerModal .regForm .inputRow select {width: 100%; font-size: 13px; border:1px solid #c5c5c5; height: 30px; border-radius: 5px; padding: 0px 0px 0px 50px;}
#registerModal .regForm .inputRow input:focus, #registerModal .regForm .inputRow select:focus {border:1px solid #5792cc;}
#registerModal .regForm .inputRow input:focus + i, #registerModal .regForm .inputRow select:focus + i {color:#5792cc;}
#registerModal .regForm .inputRow input.go {background: #f77a52; transition: all  ease-in-out 0.3s; margin: 10px 0px 0px 0px; color: #fff; padding: 0px; border:none;}
#registerModal .regForm .inputRow input.go:hover {background: #000;}


#registerModal .modal-content {display: table-row;}
#registerModal .regLeft {width:40%; padding: 20px 40px; display: table-cell; vertical-align: middle; background-image: linear-gradient(148deg, #ff9978, #f77a52);}
#registerModal .regLeft h3 {color: #fff; font-size: 24px; margin: 0px 0px 20px 0px; text-align: center;}
#registerModal .regLeft ul li {color: #fff; font-size: 15px; display: block; margin: 0px 0px 12px 0px; letter-spacing: 1px; font-weight: normal;}
#registerModal .regRight {width:60%; display: table-cell; vertical-align: middle;}


.collegeHead {border-bottom: 1px solid rgba(0,0,0,0.15);}
.collegeHead .containerBox {padding-bottom: 0px;}
.collegeSearch {width: 100%; max-width: 600px; padding: 15px 0px; float: left; clear: both;}
.collegeSearch input[type="text"] {width: calc(100% - 150px); padding: 5px 20px; color: rgba(0,0,0,0.87); font-size: 16px;  float: left; height: 40px; border: 1px solid #a4a9b5;}
.collegeSearch input[type="submit"] {width:150px; font-size: 16px; color: #fff; float: left; height: 40px; background: #f77a52; border: none; cursor: pointer;}

.collegeNav {padding: 15px 0px 0px 0px;}
.collegeNav ul li {display: inline-block; font-size: 16px;}
.collegeNav ul li a {display: block; color: rgba(0,0,0,0.54); padding: 5px 22px; border-bottom: 3px solid transparent;}
.collegeNav ul li a:hover, .collegeNav ul li a.active {border-bottom: 3px solid #f77a52; color: #000;}


.collegeHead .collegeThumb {background:#d8d8d8; border:1px solid #979797; margin: 0px 0px 20px 0px; min-height:90px; text-align: center;}
.collegeHead .collegeThumb img {display: inline-block; max-width: 100%; height: auto;}

.collegeHead .collegeQuick {margin: 0px 0px 15px 0px;}
.collegeHead .collegeQuick h2 {font-size:18px; font-family: 'ubuntumedium'; display: block; margin: 0px 0px 8px 0px;}
.collegeHead .collegeQuick h2 .reviewRating {display: inline-block; padding: 0px 0px 0px 10px; font-size:15px; letter-spacing: normal; color: #4d4d4d; font-weight: normal;}
.collegeHead .collegeQuick h2 .reviewRating b {font-weight: normal; color: #f77a52;}
.collegeHead .collegeQuick h3 {font-size: 15px; font-family: 'ubuntumedium'; color: rgba(0,0,0,0.54); margin: 0px;}

.collegeHead .collegeQuick h4 {font-size:20px; color: rgba(0,0,0,0.54); font-family: 'ubuntumedium'; display: block; margin: 0px 0px 10px 0px;}
.collegeHead .collegeQuick h4 .reviewRating {display: inline-block; padding: 0px 0px 0px 10px; font-size:18px; letter-spacing: normal; color: #4d4d4d; font-weight: normal;}
.collegeHead .collegeQuick h4 .reviewRating b {font-weight: normal; color: #f77a52;}
.collegeHead .collegeQuick h5 {font-size:28px; font-family: 'ubuntumedium'; color: rgba(0,0,0,0.87); margin: 0px 0px 5px 0px;}
.collegeHead .collegeQuick h5 a {text-decoration: underline; font-size: 16px; margin: 0px 0px 0px 10px;}

.courceHead {padding: 0px 10px 10px 10px;}
.courceHead .courcecol {height: 170px; width: calc(33.33% - 10px); float: left; position: relative; margin: 0px 5px 10px 5px; padding: 20px; background: #000;}
.courceHead .courcecol.bigCol {height: 350px;}
.courceHead .courcecol .vertical {position: absolute; top: 50%; transform: translateY(-50%); z-index: 2;}
.courceHead .courcecol h3 {display: block; color: #fff; font-size: 24px; margin: 0px 0px 15px 0px;}
.courceHead .courcecol h4 {display: block; line-height: 32px; color: #fff; font-size: 24px; margin:0px;}
.courceHead .courcecol h4 a {color:#fff;}
.courceHead .courcecol h4 a:hover {color:#000;}

.courceHead .courcecol ul li {font-size: 14px; margin: 0px 0px 4px 0px;}
.courceHead .courcecol ul li a {color: #fff;}
.courceHead .courcecol ul li a:hover {text-decoration: underline;}

.courceHead .courcecol i {position: absolute; right:15px; bottom: 0px; color: rgba(0,0,0,0.15); font-size:100px; line-height:86px;}

.courceHead .courcecol.bgColor1 {background: #555bc0;}
.courceHead .courcecol.bgColor2 {background: linear-gradient(135deg, rgba(61,178,176,1) 0%, rgba(61,178,176,1) 21%, rgba(141,30,158,1) 61%, rgba(141,30,158,1) 100%);}
.courceHead .courcecol.bgColor3 {background: linear-gradient(135deg, rgba(216,102,175,1) 0%, rgba(216,102,175,1) 21%, rgba(157,37,39,1) 61%, rgba(157,37,39,1) 100%);}
.courceHead .courcecol.bgColor4 {background: linear-gradient(135deg, rgba(194,184,89,1) 0%, rgba(194,184,89,1) 20%, rgba(223,53,50,1) 61%, rgba(223,53,50,1) 100%);}
.courceHead .courcecol.bgColor5 {background: linear-gradient(135deg, rgba(152,193,92,1) 0%, rgba(152,193,92,1) 20%, rgba(57,161,191,1) 61%, rgba(57,161,191,1) 100%);}


.informationList {border-bottom: 1px solid rgba(0,0,0,0.15); padding: 0px 0px 8px 0px; margin: 0px 0px 15px 0px;}
.informationList h3 {display: block; margin: 0px 0px 10px 0px; font-size: 15px; font-family: 'ubuntumedium'; color: rgba(0,0,0,0.54);}
.informationList p {font-size: 14px; color: rgba(0,0,0,0.87); margin: 0px 0px 12px 0px;}
.informationList p strong {font-family: 'ubuntubold';}
.informationList .bulletPoint {display: inline-block; position: relative; width: 8px; height: 8px; background: rgba(0,0,0,0.20); border-radius: 20px; margin: 0px 15px;}

.informationList .recrutingLogo {display:block; float: left; border:1px solid rgba(0,0,0,0.30); text-align: center; vertical-align: middle; width:calc(16.66% - 6px); margin: 8px 3px;}
.informationList .recrutingLogo img {display: inline-block; max-width: 100%; height: auto;}

.informationList .viewMore {font-size: 14px;}

.importantDates {text-align: center; font-size: 0px;}
.importantDates .dateBox {width: calc(33% - 10px); transition: all ease-in-out 0.5s; display: inline-block; text-align: left; vertical-align: middle; margin: 5px; border:1px solid rgba(0,0,0,0.30); background: #f3f6f9; padding: 10px; border-radius: 8px;}
.importantDates .dateBox:hover {background:#b5c8da;}
.importantDates .dateBox.dateLeft {opacity: 0.4; user-select:none; pointer-events: none;}
.importantDates .dateBox.dateLeft:hover {background:#f3f6f9;}

.importantDates .dateBox .leftCol {display: inline-block; width: 80px; height: 80px; margin: 0px 10px 0px 0px; padding: 10px 0px 0px 0px; border-radius: 100px; background: #4a5bbf; vertical-align: middle; text-align: center;}
.importantDates .dateBox .leftCol .day {display: block; color: #fff; line-height: 20px; font-size: 24px; font-family: 'ubuntumedium';}
.importantDates .dateBox .leftCol .month {display: block; color: #fff; padding: 2px 0px 5px 0px; line-height: normal; font-size: 14px;}
.importantDates .dateBox .leftCol .year {display: block; color: #fff; line-height: normal; font-size: 12px; opacity: 0.6;}
.importantDates .dateBox h4 {display: inline-block; font-size: 14px; margin: 0px; width: calc(100% - 90px); vertical-align: middle; color:rgba(0,0,0,0.87);}
.importantDates .dateBox h4 a {color:rgba(0,0,0,0.87); text-decoration: none;}

.newsBox {border:1px solid rgba(0,0,0,0.30); font-size: 0px; margin: 0px 0px 15px 0px; transition: all ease-in-out 0.5s;}
.newsBox:hover {background: rgba(0,0,0,0.08);}
.newsBox .newsImg {display: inline-block; vertical-align: middle; width: 40%;}
.newsBox .newsImg img {width: 100%; height: auto;}

.newsBox .newsContent {width: 60%; padding: 10px; display: inline-block; vertical-align: middle;} 
.newsBox .newsContent h3 {font-size: 14px; margin:0px 0px 5px 0px; color: rgba(0,0,0,0.87); font-family: 'ubuntumedium';}
.newsBox .newsContent h3 a {color:rgba(0,0,0,0.87); text-decoration: none; }
.newsBox .newsContent h4 {font-size: 13px; margin:0px 0px 5px 0px; color: rgba(0,0,0,0.54);}
.newsBox .newsContent p {font-size: 12px; color: rgba(0,0,0,0.87); margin: 0px;}

.addmisionProcedure {margin: 0px 0px 10px 0px;}
.addmisionProcedure h4 {font-size: 14px; margin: 0px; font-family: 'ubuntumedium';}
.addmisionProcedure p {margin: 0px 0px 10px 0px; font-size: 14px; color: rgba(0,0,0,0.54);}

.collegeReviewTop .averageRating {display: inline-block; font-size: 13px; vertical-align: middle; margin: 0px 0px 8px 0px; font-family: 'ubuntumedium'; color: rgba(0,0,0,0.87);}
.collegeReviewTop .ratingBox {display: inline-block; font-size: 13px; line-height: 11px; margin: 0px 10px 8px 10px; padding:5px 8px; border-radius: 5px; vertical-align: middle;  color:#fff;}
.collegeReviewTop .ratingBox i {float: left; font-size: 12px; margin: 0px 3px 0px 0px;}
.collegeReviewTop .ratingBox.green {background:#4ba43f;}
.collegeReviewTop .ratingBox.yellow {background:#eadc6a;}
.collegeReviewTop .ratingBox.red {background:#e05050;}

.collegeReviewTop .recommendThis {display: inline-block; border-left: 2px solid rgba(0,0,0,0.20); padding: 0px 0px 0px 10px; font-size: 13px; vertical-align: middle; color: rgba(0,0,0,0.54); margin: 0px 0px 8px 0px;}
.collegeReviewTop .recommendThis i {color:#f77a52; font-size: 15px; float: left; margin: 0px 4px 0px 0px;}

.collegeReviewTop .collegeSort label {padding: 1px 0px; font-size: 13px;}
.collegeReviewTop .collegeSort .customSelect {width: 145px;}
.collegeReviewTop .collegeSort .customSelect select {font-size: 12px; padding: 2px; height: 22px;}
.collegeReviewTop .collegeSort .customSelect i {font-size: 7px; top: 9px;}

.collegeReviewBox {border: 1px solid rgba(0,0,0,0.30);  padding: 15px 0px; margin: 10px 0px 5px 0px; border-radius: 6px;}

.collegeReviewBox .ratingName {display: inline-block; font-size: 16px; vertical-align: middle; margin: 0px 0px 8px 0px; color: rgba(0,0,0,0.87);}
.collegeReviewBox .ratingClass {display: inline-block; font-size: 13px; vertical-align: middle; margin: 0px 0px 8px 10px; color: rgba(0,0,0,0.54);}
.collegeReviewBox .ratingBox {display: inline-block; font-size: 13px; line-height: 11px; margin: 0px 10px 8px 10px; padding:5px 8px; border-radius: 5px; vertical-align: middle;  color:#fff;}
.collegeReviewBox .ratingBox i {float: left; font-size: 12px; margin: 0px 3px 0px 0px;}
.collegeReviewBox .ratingBox.green {background:#4ba43f;}
.collegeReviewBox .ratingBox.yellow {background:#eadc6a;}
.collegeReviewBox .ratingBox.red {background:#e05050;}
.collegeReviewBox .recommendThis {display: inline-block; border-left: 2px solid rgba(0,0,0,0.20); padding: 0px 0px 0px 10px; font-size: 13px; vertical-align: middle; color: rgba(0,0,0,0.54); margin: 0px 0px 8px 0px;}
.collegeReviewBox .recommendThis i {color:#f77a52; font-size: 15px; float: left; margin: 0px 4px 0px 0px;}


.collegeReviewBox p {font-size: 13px; margin: 0px 0px 10px 0px;}
.collegeReviewBox ul {margin: 0px; padding: 0px; float: left; width: 100%;}
.collegeReviewBox ul li {display: block; float: left; width: 100%; clear: both; margin: 0px 0px 6px 0px;}
.collegeReviewBox ul li .ratingLabel {width:65%; float: left; font-size: 13px;}
.collegeReviewBox ul li .ratingstars {float: right; width: 35%; font-size: 15px;}
.collegeReviewBox ul li .ratingstars i {color:#b8b8b8;}
.collegeReviewBox ul li .ratingstars i.fill {color:#f8ab54;}

.sectionGap, .videoDiscription, .liststyletyep, .collegeRankRating,
.collegeSidenav ul, .collegeSidenav ul li .subMenu, .collegeSidenav .downloadBro, .collegeSidenav .askQuestion,
.collegeVideoSlide, .coursesOffer, .coursesOffer h3, .coursesOffer .subCourses, .heading1, .heading2 {width: 100%; float: left; clear: both;}
.sectionGap {margin: 0px 0px 20px 0px;}

.heading1 {background: rgba(0,0,0,0.10); font-family: 'ubuntumedium'; padding:5px 15px; font-size: 16px; color: rgba(0,0,0,0.87); margin: 0px 0px 15px 0px;}
.heading2 {font-family: 'ubuntubold'; padding:5px 0px; font-size: 14px; color: rgba(0,0,0,0.87); border-bottom: 1px solid rgba(0,0,0,0.10); margin: 0px 0px 15px 0px;}

.coursesOffer {border-bottom: 1px solid rgba(0,0,0,0.10); margin: 0px 0px 10px 0px;}
.coursesOffer h3 {position: relative; font-family: 'ubuntumedium'; padding:10px 0px; font-size: 14px; color: rgba(0,0,0,0.87); margin: 0px 0px 10px 0px;}
.coursesOffer h3 span.collegeClose {position: absolute; cursor: pointer; font-family: "mentorcell"; display: block; width: 30px; height: 35px; right: 0px; top:0px; text-align: center; line-height: 35px;}
.coursesOffer h3 span.collegeClose:before {content: "\73"; }
.coursesOffer h3.active span.collegeClose:before {content: "\72";}
.coursesOffer h4 {font-size: 14px; padding: 5px 8px; display:inline-block; color: rgba(0,0,0,0.54); margin: 0px 10px 10px 0px; cursor: pointer;}
.coursesOffer h4:hover, .coursesOffer h4.active {background: rgba(0,0,0,0.05);}
.coursesOffer h4 span {color: #f77a52;}
.coursesOffer ul {display: none; float: left; clear: both; margin: 0px 0px 10px 0px;}
.coursesOffer ul.active {display: block;}
.coursesOffer ul li {list-style-type:disc; float:left; width: 100%; clear: both; margin: 0px 0px 5px 20px; color: rgba(0,0,0,0.54); padding: 0px 10px 0px 0px;}
.coursesOffer ul li a {color: #1a61c3;}
.coursesOffer ul li a:hover {color: #000;}


.liststyletyep {margin: 0px 0px 20px 0px;}
.liststyletyep li {list-style-type: disc; margin: 0px 0px 10px 20px; color:rgba(0,0,0,0.70);}

.collegeRankRating {text-align: center;}
.collegeRankRating .rankingCol {display: inline-block; width: 30%;}
.collegeRankRating .rankingCol .title {font-size: 13px; margin: 0px 0px 10px 0px; color: rgba(0,0,0,0.54); display: block;}
.collegeRankRating .rankingCol .circle {width: 50px; font-size: 20px; font-family: 'ubuntumedium'; height: 50px; display: inline-block; line-height: 50px; color: #f77a52; border:1px solid #f77a52; border-radius: 100px;}

.collegeSidenav.sticky {position: fixed; background: #fff; top: 55px;}
.collegeSidenav h3 {margin: 0px 0px 10px 0px; font-size: 16px; font-family: 'ubuntumedium';}
.collegeSidenav ul {margin: 0px 0px 15px 0px;}
.collegeSidenav ul li {font-size: 14px; display: block; clear: both; float: left; margin: 0px 0px 6px 0px;}
.collegeSidenav ul li a {color: rgba(0,0,0,0.54);}
.collegeSidenav ul li a:hover, .collegeSidenav ul li a.active {color: rgba(0,0,0,0.87); font-family: 'ubuntumedium';}
.collegeSidenav ul li .subMenu {padding: 5px 0px 0px 0px;}
.collegeSidenav ul li .subMenu ol li {font-size: 12px; margin: 0px 0px 5px 0px;}
.collegeSidenav ul li .subMenu ol li a {display: block; padding: 0px 0px 0px 12px; border-left: 3px solid transparent;}
.collegeSidenav ul li .subMenu ol li a:hover,
.collegeSidenav ul li .subMenu ol li a.active {border-left:3px solid #f77a52;}

.collegeSidenav .downloadBro {display: block; box-shadow:3px 3px 6px rgba(0,0,0,0.40); margin: 0px 0px 20px 0px; background:#f77a52; color: #fff; font-size: 15px; transition: all ease-in-out 0.3s; text-align: center; border-radius:6px; padding: 10px 0px;}
.collegeSidenav .downloadBro:hover {background: #000; color: #fff;}

.collegeSidenav .askQuestion {display: block; box-shadow:3px 3px 6px rgba(0,0,0,0.40); margin: 0px 0px 20px 0px; background:#ffffd4; color:rgba(0,0,0,0.54); font-size: 15px; transition: all ease-in-out 0.3s; text-align: center; border-radius:6px; padding: 10px 0px;}
.collegeSidenav .askQuestion:hover {background: #000; color: #fff;}


.videoDiscription h4 {font-size: 16px; font-family: 'ubuntumedium'; margin: 0px 0px 5px 0px; color: rgba(0,0,0,0.87);}
.videoDiscription p {font-size: 14px; margin: 0px 0px 10px 0px; color: rgba(0,0,0,0.54);} 

.collegeVideoSlide {position: relative; padding: 0px 20px;}

.collegeVideoSlide .bx-wrapper .bx-controls-direction a {background: none; text-indent: 0px;}

.collegeVideoSlide .bx-wrapper .bx-prev {left:-20px; width: 20px;}
.collegeVideoSlide .bx-wrapper .bx-next {right:-20px; width: 20px;}

.collegeVideoSlide .bx-wrapper .bx-prev:before {font-family: "mentorcell"; color: #000; font-size: 23px; line-height: 31px; left: 0px; content: "\70";}
.collegeVideoSlide .bx-wrapper .bx-next:before {font-family: "mentorcell"; color: #000; font-size: 23px; line-height: 31px; right: 0px; content: "\71";}

.collegeSearchCount {font-size: 16px; padding: 5px 0px;}
.collegeSearchCount strong {font-family: 'ubuntumedium'; font-weight: normal;}

.collegeSort label {padding:6px 0px; font-weight: normal; font-family: 'ubuntumedium'; font-size: 14px; color: rgba(0,0,0,0.54); display: block; float: left; margin: 0px 10px 0px 0px;}
.collegeSort .customSelect {position: relative; width: 195px; border: 1px solid rgba(0,0,0,0.30); border-radius:4px; float: left; overflow: hidden;}
.collegeSort .customSelect i {font-size: 10px; position: absolute; right: 10px; top:12px; z-index: 1;}
.collegeSort .customSelect select {height:30px; padding: 6px; border: none; background: none; font-size: 14px; width: calc(100% + 30px); position: relative; z-index: 3;}

.collegeFilter {border:1px solid #979797; margin: 0px 0px 20px 0px;}
.collegeFilter h3 {display:block; clear: both; font-size: 16px; color:#fff; background: #15202f; font-family: 'ubuntumedium'; padding: 10px;}

.collegeFilterBox {padding: 10px; border-bottom: 1px solid #dbdbdb;}
.collegeFilterBox h4 {display: block; margin: 0px 0px 10px 0px; font-family: 'ubuntumedium'; font-size: 14px; position: relative;}
.collegeFilterBox h4 span {display: block; float: right; font-size: 12px; color: #3656aa; cursor: pointer; padding: 2px 0px 0px 0px;}
.collegeFilterBox h4 span i {float: left; display: block; margin:0px 3px 0px 0px;}

.collegeFilterBox.toggleFilter {padding: 0px 0px;}

.collegeFilterBox.toggleFilter h4 {margin: 10px; padding-right: 30px; cursor: pointer;}
.collegeFilterBox.toggleFilter h4 b {float: right; position: absolute; width: 25px; height: 25px; top: -5px; right:0px; display: block; cursor: pointer; font-weight: normal; line-height: 25px; text-align: center;}
.collegeFilterBox.toggleFilter h4 b:before {position: absolute; display: block; font-family: "mentorcell"; content: "\73";  left:5px; font-size: 14px;}
.collegeFilterBox.toggleFilter.active h4 b:before {content: "\72";}
.collegeFilterBox.toggleFilter .toggleItems {background:#eef1f4; padding: 10px; display: none;}


.filterItems {max-height: 150px;}
.filterItems ul li {font-size: 12px; display: block; line-height: normal; padding: 4px 0px; position: relative;}
.filterItems ul li input {position: absolute; opacity: 0; visibility: hidden;}
.filterItems ul li label {display: block; position: relative; padding: 0px 0px 0px 22px;}
.filterItems ul li label:before {content:''; width:13px; height:13px; left: 0px; top: 0px; border:1px solid rgba(0,0,0,0.30); position: absolute; display: block;}
.filterItems ul li input:checked + label:before {background:#f77a52;}

.locationSearch {position: relative; margin:0px 0px 10px 0px;}
.locationSearch input[type="text"] {width: 100%; font-size: 13px; padding: 4px; height: 28px;}
.locationSearch input[type="submit"] {width: 30px; height: 28px; background: none; border:none; position: absolute; right: 0px; top: 0px; z-index: 4;}
.locationSearch:after {font-family: "mentorcell"; content: "\6e"; font-size: 13px; position: absolute; z-index: 1; color: #000; top: 5px; right: 8px;}


.collegeResultBox {margin: 0px 0px 20px 0px; border:1px solid #becad7; position: relative;}

.collegeResultBox .collegeTop,
.collegeResultBox .collegeMiddle, .collegeResultBox .collegeBottom {position: relative;}

.collegeResultBox .collegeTop .collegeThumb {float:left; width:160px; text-align: center;}
.collegeResultBox .collegeTop .collegeThumb img {max-width: 100%; height: auto;}
.collegeResultBox .collegeTop .collegeName {float: left; width: calc(100% - 295px); padding:10px 15px;}
.collegeResultBox .collegeTop .collegeName h3 {margin: 0px 0px 10px 0px; font-size: 16px;}
.collegeResultBox .collegeTop .collegeName h4 {margin: 0px; font-size: 14px; color: rgba(0,0,0,0.54);}
.collegeResultBox .collegeTop .viewCollege {position: absolute; top: 15px; right: 15px; width: 120px;}
.collegeResultBox .collegeTop .viewCollege a {background:#f77a52; color: #fff; padding: 5px; text-align: center; display: block; border-radius: 6px; transition: all ease-in-out 0.3s}
.collegeResultBox .collegeTop .viewCollege a:hover {background: #000;}

.collegeResultBox .collegeMiddle {padding: 15px 0px; background:#eef1f4; border-top:1px solid #becad7; border-bottom:1px solid rgba(0,0,0,0.10); }
.collegeResultBox .collegeMiddle h3 {color: #3757ab; font-size: 15px; margin: 0px 0px 5px 0px;}
.collegeResultBox .collegeMiddle h3 span {display: inline-block; color:#f77a52; padding: 0px 0px 0px 5px; font-style: italic; }
.collegeResultBox .collegeMiddle h4 {color:rgba(0,0,0,0.54); font-size: 14px; margin: 0px 0px 15px 0px;}

.collegeResultBox .collegeMiddle ul li {display:block; float: left; font-size: 14px; padding:0px 15px; border-left:1px solid rgba(0,0,0,0.20);}
.collegeResultBox .collegeMiddle ul li:first-child {border: none; padding-left: 0px;}
.collegeResultBox .collegeMiddle ul li span {display: block; font-size: 12px; font-family: 'ubuntumedium'; color: rgba(0,0,0,0.54);}

.collegeResultBox .collegeMiddle .moreCourses {display: block; float: left; font-size: 14px; margin: 15px 0px 0px 0px; clear: both; background: #d6e2ef; border-radius: 5px; padding: 3px 8px; color: #3757ab; transition: all ease-in-out 0.3s;}
.collegeResultBox .collegeMiddle .moreCourses:hover {background: #000; color: #fff;}

.collegeResultBox .collegeMiddle ol li {font-size: 13px; display: block; margin: 0px 0px 10px 0px; color: #3757ab;}
.collegeResultBox .collegeMiddle ol li a {color: #3757ab;}
.collegeResultBox .collegeMiddle ol li a:hover {color: #000;}
.collegeResultBox .collegeMiddle ol li i {font-size: 16px; float: left; margin: 0px 5px 0px 0px;}

.collegeResultBox .collegeBottom {background: #eef1f4; padding: 10px 15px;}
.collegeResultBox .collegeBottom ul {float: right;}
.collegeResultBox .collegeBottom ul li {float: left; padding: 0px 0px 0px 15px; display: block; font-size: 14px;}
.collegeResultBox .collegeBottom ul li a {color: rgba(0,0,0,0.54); transition: all ease-in-out 0.3s; min-width: 100px; display: block; padding: 4px 10px; text-align: center;}
.collegeResultBox .collegeBottom ul li a i {font-size: 16px; float: left; margin: 0px 4px 0px 0px;}
.collegeResultBox .collegeBottom ul li a.button2 {background:#fff; border-radius: 5px;  border: 1px solid rgba(0,0,0,0.15);} 
.collegeResultBox .collegeBottom ul li a.button3 {background:#ffffd4; border-radius: 5px;  border: 1px solid rgba(0,0,0,0.15);}

.collegeResultBox .collegeBottom ul li a.button2:hover,
.collegeResultBox .collegeBottom ul li a.button3:hover {background:#f77a52; color: #fff;}

.pagination {text-align: center;}
.pagination ul li {display: inline-block;  text-align: center;  font-size: 13px;}
.pagination ul li a {display: block; width:30px; height:30px; line-height:30px; border:1px solid rgba(0,0,0,0.20); color: rgba(0,0,0,0.54);}
.pagination ul li a:hover, .pagination ul li span.active {display: block; width:30px; height:30px; line-height:30px; background:#f77a52; border:1px solid #f77a52; color:#fff;}


/****new start****/
.couponTab {position: absolute; right: 20px; top: 55px; color: #fff; width: 40px; text-align: center;}
.couponTab:before {font-size:104px; position: absolute; left: -32px; line-height: 96px; color: #5ea81a;}
.couponTab a {display: block; color: #fff;}
.couponTab span {display: block; position: relative; z-index: 9; text-align: center; font-size: 10px; line-height:10px; padding:10px 0px;}

.couponTabs {text-align: center;}
.couponTabs ul {font-size: 0px;}
.couponTabs ul li {max-width: 33.33%; width: 200px; opacity: 0.5; display: inline-block; font-size: 0px; text-align: center; position: relative; padding: 5px 0px;}
.couponTabs ul li h3 {width: 60px; height: 60px; line-height: 60px;  text-align: center; position: relative; border-radius: 200px; background: rgba(0,0,0,0.05); border:2px solid rgba(0,0,0,0.15); display: inline-block;}
.couponTabs ul li h3 img {width: 30px; height: auto; border-radius: 100px;}
.couponTabs ul li h3 i {position: absolute; right: -5px; top: -5px; font-size: 20px; line-height: 0px;}
.couponTabs ul li h4 {font-size: 13px; margin: 0px; display: block; clear: both; padding: 10px 0px 0px 0px;}

.couponTabs ul li.active {opacity: 1;}
.couponTabs ul li.active h3 i {color: #f77a52;}

.couponHolder {padding: 20px 0px;}
.couponHolder .couponRow {display: none;}
.couponHolder .couponRow.active {display: block;}

.couponHolder .regForm {padding:20px; vertical-align: top; margin: 0px 15px; background: rgba(0,0,0,0.04); border:1px solid rgba(0,0,0,0.10); border-radius: 10px; display: inline-block; width: calc(50% - 40px);}
.couponHolder .regForm h3 {font-size: 20px; margin: 0px 0px 20px 0px; color: rgba(0,0,0,0.87); display: block;}
.couponHolder .regForm h3 a {color: #5792cc;}
.couponHolder .regForm h3 a:hover {color: rgba(0,0,0,0.87);}
.couponHolder .regForm .inputRow {margin: 0px 0px 10px 0px; position: relative;}
.couponHolder .regForm i {position: absolute; z-index: 2; top: 8px; left:18px; font-size: 23px; line-height: 1px; color:#bababa;}
.couponHolder .regForm .inputRow input, .couponHolder .regForm .inputRow select {width: 100%; font-size: 14px; letter-spacing: 1px; border:1px solid #c5c5c5; height: 40px; border-radius: 5px; padding: 0px 0px 0px 60px;}
.couponHolder .regForm .inputRow input:focus, .couponHolder .regForm .inputRow select:focus {border:1px solid #5792cc;}
.couponHolder .regForm .inputRow input:focus + i, .couponHolder .regForm .inputRow select:focus + i {color:#5792cc;}
.couponHolder .regForm .inputRow input.go {background: #f77a52; width:150px; transition: all  ease-in-out 0.3s; margin: 10px 0px 0px 0px; color: #fff; padding: 0px; border:none;}
.couponHolder .regForm .inputRow input.go:hover {background: #000;}

.couponHolder .loginForm {padding:20px; vertical-align: top; margin: 0px 15px; background: rgba(0,0,0,0.04); border:1px solid rgba(0,0,0,0.10); border-radius: 10px; display: inline-block; width: calc(50% - 40px);}
.couponHolder .loginForm h3 {font-size: 20px; margin: 0px 0px 20px 0px; color: rgba(0,0,0,0.87); display: block;}
.couponHolder .loginForm h3 a {color: #5792cc;}
.couponHolder .loginForm h3 a:hover {color: rgba(0,0,0,0.87);}
.couponHolder .loginForm h4 {font-size: 16px; margin: 0px 0px 30px 0px; color: rgba(0,0,0,0.87); display: block;}
.couponHolder .loginForm h5 {font-size: 16px; margin:0px; color: #5792cc; display: block;}
.couponHolder .loginForm h5 a {color: #5792cc;}
.couponHolder .loginForm h5 a:hover {color: #000;}
.couponHolder .loginForm .inputRow {margin: 0px 0px 20px 0px; position: relative;}
.couponHolder .loginForm i {position: absolute; z-index: 2; top: 12px; left:18px; font-size: 23px; line-height: 1px; color:#bababa;}
.couponHolder .loginForm .inputRow input {width: 100%; font-size: 14px; letter-spacing: 1px; border:1px solid #c5c5c5; height: 40px; border-radius: 5px; padding: 0px 0px 0px 60px;}
.couponHolder .loginForm .inputRow input:focus {border:1px solid #5792cc;}
.couponHolder .loginForm .inputRow input:focus + i {color:#5792cc;}
.couponHolder .loginForm .inputRow input.go {background: #f77a52; width:150px; transition: all  ease-in-out 0.3s; margin: 10px 0px 5px 0px; color: #fff; padding: 0px; border:none;}
.couponHolder .loginForm .inputRow input.go:hover {background: #000;}

.iqTest ol li {background: rgba(0,0,0,0.03); border:1px dashed rgba(0,0,0,0.07); padding: 15px; margin: 0px 0px 15px 0px;}
.iqTest ol li h3 {font-size: 17px; margin: 0px 0px 12px 0px; color: #000;}
.iqTest ol li h4 {font-size: 15px; margin: 0px 0px 12px 0px; padding: 0px 0px 0px 20px; color:rgba(0,0,0,0.87);}
.iqTest ol li .iqAnsRow {padding: 0px 0px 0px 20px;}
.iqTest ol li .iqAnsBox {float: left; margin: 0px 30px 0px 0px; font-size: 14px; color: rgba(0,0,0,0.70);}
.iqTest ol li .iqAnsBox input {position: absolute; width: 0px; height: 0px; opacity: 0; overflow: hidden; z-index: -2;}
.iqTest ol li .iqAnsBox label {display: block; position: relative; padding: 0px 0px 0px 25px; line-height: 16px;}
.iqTest ol li .iqAnsBox label:before {content:''; position: absolute; left: 0px; top: 0px; display:block; width: 15px; height: 15px; background: rgba(0,0,0,0.08); border:1px solid rgba(0,0,0,0.20); border-radius: 100px;}
.iqTest ol li .iqAnsBox input:checked + label:before {background: green;}

.iqTest .go {background: #f77a52; height: 45px; border-radius: 6px; border:none; width:150px; transition: all  ease-in-out 0.3s; margin: 10px 0px 5px 0px; color: #fff; padding: 0px; border:none;}
.iqTest .go:hover {background: #000;}

.iqResult {text-align: center; border-top:1px solid rgba(0,0,0,0.10); padding: 20px 0px 0px 0px;}
.iqResult h3 {font-size: 22px; margin: 0px 0px 5px 0px;}
.iqResult h4 {font-size: 18px; margin: 0px 0px 15px 0px;}
.iqResult h5 {font-size: 22px; margin: 0px 0px 15px 0px; background: rgba(0,0,0,0.10); width: 70px; height: 70px; line-height: 70px; display: inline-block; border-radius: 100px;}
.iqResult h6 {background: green; display: inline-block; color: #fff; padding: 5px 15px; font-size: 14px;}

.teamArea {text-align: center;}
.teamArea ul li {display:block; transition: all ease-in-out 0.4s; float: left;  padding: 10px 15px; text-align:  center; width:25%;}
.teamArea ul li .teamIcon {width:170px; height: 170px; border: 1px solid rgba(0,0,0,0.20); margin: 0 auto; border-radius: 100%;}
.teamArea ul li .teamIcon img {width: 100%; height:100%; border:2px solid #fff; border-radius:100%;}
.teamArea ul li .teamText {width: 100%; padding: 10px 0px 5px 0px;}
.teamArea ul li .teamText h3 {font-family: 'ubuntumedium'; color: #000; font-size: 20px; margin: 0px 0px 10px 0px;}
.teamArea ul li .teamText h4 {font-size: 16px; margin: 0px 0px 10px 0px;}
.teamArea ul li .teamText p {font-size: 14px; margin:0px 0pc 15px 0px; color: rgba(0,0,0,0.54); line-height: 20px;}
.teamArea ul li .teamText a.teamDetail {display: inline-block; font-size: 14px; transition: all ease-in-out 0.3s; color: #fff; border-radius: 5px; background:#f66132; padding: 6px 15px;}
.teamArea ul li .teamText a.teamDetail:hover { background:#303a47;}

.teamPopup {padding:0px 10px; text-align: center;}
.teamPopup .teamImg {width:170px; height: 170px; border: 1px solid rgba(0,0,0,0.20); margin: 0px 0px 10px 0px; display: inline-block; border-radius: 100%;}
.teamPopup .teamImg img {width: 100%; height:100%; border:2px solid #fff; border-radius:100%;}
.teamPopup h5 {font-size: 16px; text-align: center; margin: 0px 0px 10px 0px;}
.teamPopup p {font-size: 14px; margin: 0px 0px 10px 0px; text-align: left; color: rgba(0,0,0,0.54);}

.teamRow {margin: 0px 0px 15px 0px; padding: 15px; background: rgba(0,0,0,0.03); border-radius: 8px;}
.teamRow .teamPic {float: left; margin: 0px 0px 15px 0px; width:170px; height: 170px; border: 1px solid rgba(0,0,0,0.20); border-radius: 100%;}
.teamRow .teamPic img {width: 100%; height:100%; border:2px solid #fff; border-radius:100%;}
.teamRow .teamDetail {float: left; width: calc(100% - 170px); padding: 10px 0px 0px 20px;}
.teamRow .teamDetail h3 {font-family: 'ubuntumedium'; color: #000; font-size: 20px; margin: 0px 0px 10px 0px;}
.teamRow .teamDetail h4 {font-size: 16px; display: block; padding: 0px 0px 10px 0px; margin: 0px 0px 10px 0px; border-bottom: 1px solid rgba(0,0,0,0.10);}
.teamRow .teamDetail p {font-size: 14px; margin:0px 0pc 15px 0px; color: rgba(0,0,0,0.54); line-height: 20px;}

.staticPage {margin: 0px 0px 15px 0px; padding: 15px; background: rgba(0,0,0,0.03); border-radius: 8px;}
.staticPage .staticimg {width: 100%; text-align: center;}
.staticPage .staticimg img {max-width: 100%; height: auto; display: inline-block;}
.staticPage .staticContent p {margin: 0px 0px 12px 0px; font-size: 14px; color: rgba(0,0,0,0.84);}

#photoGallery, #videoGallery {cursor: pointer; display: inline-block;}

/******Profile section start******/
.profileNav {position: relative; float: right; height: 55px; padding: 13px 0px 0px 0px;}
.profileNav h3 {display: block; padding: 7px 10px; cursor: pointer; background: #f77a52; font-size: 13px; color: #fff;}
.profileNav ul {width: 200px; transition: all ease-in-out 0.4s; transform: scale(0); -webkit-transform-origin: 100% 100%; transform-origin:100% 0; display: block; background: #15202f; padding:0px 10px; position: absolute; z-index: 1; right: 0px; top: 55px;}
.profileNav ul li {display: block; float: left; clear: both; width: 100%;}
.profileNav ul li a {color: #fff; font-size: 12px; text-decoration: none; display: block; padding:10px 0px; border-bottom: 1px solid rgba(255,255,255,0.20);}
.profileNav:hover ul {transform: scale(1);}

.profileHead {border-bottom: 1px solid rgba(0,0,0,0.15);}
.profileHead .containerBox {padding-bottom: 0px;}
.profileHead .profileThumb {background:#d8d8d8; border:1px solid #979797; margin: 0px 0px 20px 0px; min-height:90px; text-align: center;}
.profileHead .profileThumb img {display: inline-block; max-width: 100%; height: auto;}

.profileHead .profileQuick {margin: 0px 0px 15px 0px;}
.profileHead .profileQuick h2 {font-size:22px; font-family: 'ubuntumedium'; display: block; margin: 0px 0px 8px 0px;}

.profileHead .profileQuick h3 {font-size: 13px;  color: rgba(0,0,0,0.54); margin: 0px;}

.profileTab {padding:5px 0px 0px 0px;}
.profileTab ul li {display: inline-block; font-size: 16px;}
.profileTab ul li a {display: block; color: rgba(0,0,0,0.54); padding: 5px 22px; border-bottom: 3px solid transparent; text-decoration: none;}
.profileTab ul li a:hover, .profileTab ul li a.active {border-bottom: 3px solid #f77a52; color: #000;}

.profileSection {}
.profileHolder {display: none;}
.profileHolder.active {display: block;}
.profileBox {border:1px solid rgba(0,0,0,0.10); padding: 0px 0px 20px 0px; margin: 0px 0px 20px 0px;}
.profileBox h3 {display: block; margin:0px; padding:12px 20px; text-transform: uppercase; font-size: 16px; background: #f1f1f1;}
.profileBox h3 .addEdit {float: right; font-size: 13px; color: #0aa5b5; cursor: pointer; text-transform: capitalize;} 
.profileBox ul {padding: 20px}
.profileBox ul li {display: block; width: 100%; position: relative; padding: 15px 0px; float: left; clear: both; border-bottom: 1px solid rgba(0,0,0,0.15);}
.profileBox ul li:last-child {border: none;}
.profileBox ul li h4 {font-size: 14px; font-family: 'ubuntumedium';  padding: 0px 0px 0px 22px; color: rgba(0,0,0,0.87); margin: 0px 0px 10px 0px; display: block; position: relative;}
.profileBox ul li h5 {font-size: 14px; color: rgba(0,0,0,0.54); padding: 0px 0px 0px 22px; margin: 0px; display: block; position: relative;}

.profileBox ul li h4 i,
.profileBox ul li h5 i {display:block; position: absolute; left: 0px; float: left; margin: 0px 10px 0px 0px; line-height: 1px;}

.profileBox ul li h4 b,
.profileBox ul li h5 b {color: rgba(0,0,0,0.87);}

.profileBox .addButton {float: left; transition: all ease-in-out 0.4s; display: block; clear: both; background:#f77a52; color: #fff; cursor: pointer; padding:5px 10px; font-size: 13px; margin: 0px 0px 0px 20px; border-radius: 6px;}
.profileBox .addButton span {float: left; display: block; font-size: 16px; line-height: 16px; margin: 0px 5px 0px 0px;}
.profileBox .addButton:hover {background:#000;}

.profileBox .detailForm {padding: 20px 5px; display: none;}
.profileBox .detailForm hr {display: block; width: 100%; float: left; clear: both; background: none; border: none; height: 1px; overflow: hidden; border-bottom: 1px solid rgba(0,0,0,0.10); margin: 15px 0px 30px 0px;}
.profileBox .detailForm .form-group {float: left; width: 100%; clear: both;}
.profileBox .detailForm label {display: block; margin: 0px 0px 5px 0px; font-size: 14px; color: rgba(0,0,0,0.64);}
.profileBox .detailForm label b {color: #ff0000;}
.profileBox .detailForm input[type="text"],
.profileBox .detailForm select,
.profileBox .detailForm textarea {width: 100%; max-width: 280px; padding: 5px; height: 30px; border:1px solid rgba(0,0,0,0.20);}
.profileBox .detailForm textarea {height: 100px; overflow: auto; resize: none;}
.profileBox .detailForm .radioBut {font-size: 13px; float: left; line-height: 11px; padding: 2px 20px 2px 0px;}
.profileBox .detailForm .radioBut input {float: left; margin: 0px 5px 0px 0px;}
.profileBox .detailForm .fullWidth {width:100%; max-width: 100%;}
.profileBox .detailForm .deleteEntry {float: right; display: block; clear: both; font-size: 12px; color:#ff0000; margin: 0px 15px 5px 0px; cursor: pointer;}
.profileBox .detailForm .cancelButton {float: left; height: 35px; width: 100px; margin: 0px 15px 0px 0px; background: rgba(0,0,0,0.10); border-radius: 6px; border: 1px solid rgba(0,0,0,0.15); cursor: pointer;}
.profileBox .detailForm .saveButton {float: left; height: 35px; color: #fff; width: 100px; margin: 0px 15px 0px 0px; background: #f77a52; border-radius: 6px; border: 1px solid rgba(0,0,0,0.15); cursor: pointer;}

.profileBox .settingForm {padding: 20px 20px;}
.profileBox .settingForm .form-group {float: left; width: 100%; clear: both;}
.profileBox .settingForm label {font-size: 14px; color: rgba(0,0,0,0.64); display: block; float: left; width: 200px;}
.profileBox .settingForm input[type="text"] {width: 100%; max-width: 280px; padding: 5px; height: 30px; border:1px solid rgba(0,0,0,0.20); float: left;}
.profileBox .settingForm input[type="checkbox"] {float: left; margin: 4px 10px 0px 0px;}
.profileBox .settingForm input[type="checkbox"] + label {width: auto;}
.profileBox .settingForm .cancelButton {float: left; height: 35px; width: 100px; margin: 0px 15px 0px 0px; background: rgba(0,0,0,0.10); border-radius: 6px; border: 1px solid rgba(0,0,0,0.15); cursor: pointer;}
.profileBox .settingForm .saveButton {float: left; height: 35px; color: #fff; width: 100px; margin: 0px 15px 0px 0px; background: #f77a52; border-radius: 6px; border: 1px solid rgba(0,0,0,0.15); cursor: pointer;}
/******Profile section close******/

.page404 {text-align: center; padding: 40px;}
.page404 img {display: inline-block; max-width: 100%; height: auto;}

.collegeLogin {background: #fff; margin: 55px auto; width: 400px; padding: 20px; border:1px solid rgba(0,0,0,0.20); border-radius: 10px;}
.collegeLogin h3 {font-size: 18px; margin: 0px 0px 20px 0px; color: rgba(0,0,0,0.87); display: block; text-align: center;}
.collegeLogin h5 {font-size: 13px; margin:0px; color: #5792cc; display: block; text-align: center;}
.collegeLogin h5 a {color: #5792cc;}
.collegeLogin h5 a:hover {color: #000;}
.collegeLogin .inputRow {margin: 0px 0px 10px 0px; position: relative;}
.collegeLogin i {position: absolute; z-index: 2; top: 10px; left:18px; font-size: 19px; line-height: 1px; color:#bababa;}
.collegeLogin .inputRow input {width: 100%; font-size: 13px; border:1px solid #c5c5c5; height: 40px; border-radius: 5px; padding: 0px 0px 0px 50px;}
.collegeLogin .inputRow input:focus {border:1px solid #5792cc;}
.collegeLogin .inputRow input:focus + i {color:#5792cc;}
.collegeLogin .inputRow input.go {background: #f77a52; transition: all  ease-in-out 0.3s; margin: 10px 0px 5px 0px; color: #fff; padding: 0px; border:none;}
.collegeLogin .inputRow input.go:hover {background: #000;}


.privacyContent .modal-dialog {width: 800px; max-width: 100%;}
.privacyContent h5 {font-size: 14px; font-family: 'ubuntubold'; margin: 0px 0px 10px 0px;}
.privacyContent p {margin: 0px 0px 10px 0px; font-size: 13px; text-align: justify;}
.privacyContent ul { margin: 0px 0px 22px 20px; }
.privacyContent ul li {list-style-type: disc; font-size: 13px; margin: 0px 0px 10px 0px;}
.privacyContent ul li ol {margin: 0px 0px 0px 30px;}
.privacyContent ul li ol li {list-style-type: circle; }

.privacyContent ol.lower-alpha {margin: 0px 0px 22px 25px;}
.privacyContent ol.lower-alpha li {list-style-type: lower-alpha; font-size: 13px; margin: 0px 0px 10px 0px;}

/****new close****/

.footerSection {background: #232440;}
.footerTop {padding:30px 0px; border-bottom: 1px solid #b0b0b0;}
.footerTop .footerWidget {padding:0px; float: left; width: 20%; padding: 0px 15px;}
.footerTop .footerWidget h3 {color: #fff; margin: 0px 0px 10px 0px; font-size:20px;}
.footerTop .footerWidget p {margin: 0px 0px 8px 0px; font-size: 14px; line-height: 24px; color:#c0c0c0;}
.footerTop .footerWidget ul li {font-size: 14px; display: block; margin: 0px 0px 9px 0px;}
.footerTop .footerWidget ul li a {color:#c0c0c0;}
.footerTop .footerWidget ul li a:hover {color: #fff;}

.footerBottom {padding:25px 0px; text-align: center;}
.footerBottom p {margin:0px; padding:6px 0px 0px 0px; color: #fff; font-size: 12px; letter-spacing:1px; float: left;}
.footerBottom .footerSocial {float: right;}
.footerBottom .footerSocial a {display: block; font-size: 16px; color:#232440; line-height: 35px; width: 30px; height: 30px; text-align: center; border-radius: 100px; float: left; margin: 0px 0px 0px 10px; background:#fff; transition: all ease-in-out 0.4s;}
.footerBottom .footerSocial a.fbBg:hover {background: #3b5998; color: #fff;}
.footerBottom .footerSocial a.twBg:hover {background: #42c8f4; color: #fff;}
.footerBottom .footerSocial a.inBg:hover {background: #006fa6; color: #fff;}