@media only screen and (max-width:1200px){
.containerBox {padding: 20px 0px;}
.mainMenu ul > li {margin: 0 3px;}

}

@media only screen and (max-width:991px){
.studyAbroad {padding: 0px;}
.youTubePlayer {margin: 0px 0px 20px 0px;}
.youtubeThumb ul li {width: 33.33%; padding: 10px;}
.managementArea ul li {width: 20%;}
.studyAbroad ul li {width: 140px;}

.footerTop .footerWidget {border-bottom: 1px solid rgba(255,255,255,0.20); width: 100%; padding: 0px 0px 15px 0px; margin: 0px 0px 15px 0px;}
.footerTop .footerWidget:last-child {border: none; margin: 0px; padding: 0px;}
.footerTop .footerWidget .toggleBox {display: none;}
.footerTop .footerWidget.active .toggleBox {display: block;}
.footerTop .footerWidget h3 {font-size: 16px;}
.footerTop .footerWidget h3:after {position: absolute; top: 4px; right:0px; display: block; font-family: "mentorcell"; content: "\73";}
.footerTop .footerWidget.active h3:after {content: "\72";}
.footerTop .footerWidget p {font-size: 13px;}

.footerBottom p {float: none; text-align: center;}
.footerBottom .footerSocial {float: none; text-align: center; clear: both; padding: 6px 0px 0px 0px;}
.footerBottom .footerSocial a {display: inline-block; float: none; margin:0px 5px;}

.teamArea ul li {width: 50%;}

.homeSlider {height: 170px;}
.homeSlider .searchArea {width: calc(100% - 30px); left: 15px; transform: translate(0px, -55px);}
.homeSlider .searchArea .searchNav ul li {font-size: 13px; padding: 6px 5px; width: 88px;}
.homeSlider .searchArea h3 {font-size: 18px;}
.homeSlider .searchArea .formHolder input, .homeSlider .searchArea .formHolder select {font-size: 12px;}
.homeSlider .searchArea .formHolder .autoComplete h4 {font-size: 14px;}
.homeSlider .searchArea .formHolder .autoComplete ul li {font-size: 12px;}
.homeSlider .mobileAppIcons {right: 30px; bottom: 20px;}

.homeSlider .searchArea .searchForm.active, .homeSlider .searchArea .formHolder input, .homeSlider .searchArea .formHolder select,
.homeSlider .searchArea .formHolder .go {height: 38px;}
.homeSlider .searchArea .formHolder .autoComplete {top: 38px;}

.sectionHeading {font-size: 18px; margin: 0px 0px 25px 0px}

.collegeResultBox .collegeTop .collegeThumb {width: 120px;}
.collegeResultBox .collegeTop .viewCollege {width: 90px; font-size: 11px;}
.collegeResultBox .collegeTop .collegeName {width: calc(100% - 228px); padding: 5px 10px;}
.collegeResultBox .collegeTop .collegeName h3 {font-size: 13px; margin: 0px 0px 5px 0px;}
.collegeResultBox .collegeTop .collegeName h4 {font-size: 12px;}
.collegeResultBox .collegeMiddle ul li {clear: both; padding:5px 0px; border: none; border-top: 1px solid rgba(0,0,0,0.20);;}
.collegeResultBox .collegeMiddle ol li {font-size: 11px;}

.importantDates .dateBox {width: calc(50% - 10px);}

.mobileNavigation, .homeSlider .bx-wrapper, .featureSlider {display: none;}

.couponTabs ul li {width: 30.33%;}
.couponHolder .regForm,
.couponHolder .loginForm {width:calc(100% - 30px); margin: 0px 15px 20px 15px;}

}




@media only screen and (max-width:767px){
.youtubeThumb ul li {width: 50%;}
.managementArea ul li {width: 42%;}
.userNav ul li {width: auto; padding: 5px;}
.homeSlider .bx-wrapper .bx-pager {display: none;}


.studyAbroad ul li {width: 115px;}

.collegeNav {text-align: center;}
.collegeNav ul li {font-size: 14px;}
.collegeNav ul li a {padding: 5px 15px;}
.collegeResultBox .collegeBottom {padding: 10px 5px; text-align: center;}
.collegeResultBox .collegeBottom ul li {font-size: 12px; padding: 0px 4px; float: none; margin: 0px 0px 10px 0px; display: inline-block;}
.collegeResultBox .collegeBottom ul li a {min-width: 90px;}

.collegeResultBox .collegeTop .collegeName {width: calc(100% - 120px);}
.collegeResultBox .collegeTop .viewCollege {position: relative; margin: 5px 0px 0px 0px; width: 100%; display: block; float: left; clear: both; top: 0px; right: 0px;}
.collegeResultBox .collegeTop .viewCollege a {border-radius: 0px;}

.collegeResultBox .collegeMiddle ol {margin-top: 12px;}

.courceHead .courcecol.bigCol {height: auto;}
.courceHead .courcecol .vertical {position: relative; top: 0px; transform: translateY(0px);}
.courceHead .courcecol {width:calc(100% - 10px); height: auto;}
.courceHead .courcecol i {color: #fff; font-size: 30px; line-height: 30px;}
.courceHead .courcecol h3 {font-size: 17px; margin: 0px 0px 10px 0px;}
.courceHead .courcecol ul li {font-size: 12px;}
.courceHead .courcecol h4 {font-size: 17px;}
.heading1, .informationList h3 {font-size: 14px;}
.informationList p, p {font-size: 13px;}

.collegeSort {padding-top: 10px;}
.collegeSort.pull-right {float: left!important;}

.collegeLogin {margin: 50px auto;}
.collegeLogin h3 {font-size: 15px; margin: 0px 0px 10px 0px;}
.liststyletyep li {font-size: 13px; margin: 0px 0px 7px 20px;}
.iqTest ol li h3 {font-size: 15px;}
.iqTest ol li .iqAnsBox {margin: 0px 0px 6px 0px; padding: 0px 10px 0px 0px; width: 50%;}

.informationList .recrutingLogo {width: calc(33.33% - 6px);}
.collegeHead .collegeQuick h4,
.collegeHead .collegeQuick h4 .reviewRating {font-size: 16px;}
.collegeHead .collegeQuick h5 {font-size: 20px;}

.profileTab {text-align: center;}
.profileTab ul li {font-size: 14px;}
.profileTab ul li a {padding: 5px 15px;}

.profileBox .detailForm .form-group {margin: 0px;}
.profileBox .detailForm input[type="text"],
.profileBox .detailForm select,
.profileBox .detailForm textarea {max-width: 100%; margin: 0px 0px 15px 0px;}
.teamRow .teamPic {float: none; margin: 0 auto;}
.teamRow .teamDetail {width: 100%; padding:10px 0px 0px 0px;}
.teamRow .teamDetail h3 {font-size: 16px; text-align: center;}
.teamRow .teamDetail h4 {font-size: 14px; text-align: center;}
.teamRow .teamDetail p {font-size: 13px; line-height: 18px;}

}

@media only screen and (max-width:480px){
	.teamArea ul li {width: 100%; border-bottom: 1px solid rgba(0,0,0,0.20); padding: 20px 15px;}

	.importantDates .dateBox {width: calc(100% - 10px);}
}